/* public/css/style.css */

/*
 * Estilos personalizados que complementan a Bootstrap
 * y demuestran el uso de la carpeta 'public'.
 */

/* Un estilo sutil para el card principal en modo oscuro */
.card.shadow-lg {
  border-radius: 1rem !important;
}

/* Un estilo para el bot칩n de admin en la p치gina de inicio */
#adminBtn {
  /* Un rojo m치s distintivo para la acci칩n de admin */
  background-color: #dc3545;
  border-color: #dc3545;
}

#adminBtn:hover {
  background-color: #c82333;
  border-color: #bd2130;
}